<div>
    <div>
        <div>
            <div>The Weird Ones</div>
            <div>Dashboard</div>
        </div>
        <div>
            <div>
                <ul>
                    <li><a href="#0.1_">Dashboard</a></li>
                    <li><a href="#0.1_">Metrics</a>
                        <ul><li><a href="#0.1_">Posts</a></li>
                            <li><a href="#0.1_">Likes</a></li>
                            <li><a href="#0.1_">Comments</a></li>
                        </ul>
                    </li>
                    <li><a href="#0.1_">Leaderboards</a>
                        <ul>
                            <li><a href="#0.1_">National</a></li>
                            <li><a href="#0.1_">In-Team</a></li>
                        </ul>
                    </li>
                    <li><a href="#0.1_">Trophies</a>
                        <ul><li><a href="#0.1_">Awards</a></li>
                            <li><a href="#0.1_">Badges</a></li>
                        </ul>
                    </li>
                    <li><a href="#0.1_">Settings</a></li>
                </ul>

            </div>
            <div>
                <div>
                    <img src="http://team-logo.png" width="45" height="41">The Weird Ones
                </div>
                <div>
                    <div>
                        <div>Top Posters</div>
                        <ul>
                            <li>Name 1</li>
                            <li>Name 1</li>
                            <li>Name 1</li>
                            <li>Name 1</li>
                            <li>Name 1</li>
                        </ul>
                    </div>
                    <div>
                        <div>Top Post</div>
                    </div>
                    <div>
                        <div>Overview</div>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <div>Engagement Over Time</div>

                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <div>Leaderboard</div>
                        <ul>
                            <li>Name 1</li>
                            <li>Name 1</li>
                            <li>Name 1</li>
                            <li>Name 1</li>
                            <li>Name 1</li>
                        </ul>
                    </div>
                    <div>
                        <div>Opportunities</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
