/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#topnav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 10%;
  padding-top: 2%;
  background-color: rgb(15, 148, 192);
  color:white;

  #img {
    margin-left: 5%;
  }

  #userbox {
    float: right;
    margin-right: 5%;
    a {
      color:white;
      text-decoration: none;
    }
  }
}
