/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  margin: 0;
}
.page-header {
  background-color: rgba(0, 0, 0, .85);
  margin-top: -20px;
  color:white;
  border: none;
  #logo {
    padding: 1em;
    display: inline-block;
    margin-top: 1.5em;
    img {
      display:inline;
      height: 8em;
      width: 8em;
    }
    h1 {
      display:inline;
      margin-left: 1em;
      color:white;

    }
  }
  #userbox {
    padding: 1em;
    float: right;
    margin: 4.1em 5% 0 0;

  }
}



#dashboard-nav {
  position: fixed;
  left:0;
  top:10em;
  bottom:0;
  width: 10%;
  background-color: rgb(15, 148, 192);
}

#wrap {
  background-color: #407EC1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#body {
  text-align: center;
  margin: auto;
  float: none;
  border: none;
  &.landing {
  }
  #center {
   border-radius: 10px;
    background-color: white;
    height: 100%;
    width: 100%;

    /*landing page*/
    #landing {
      margin-top: 15%;
      height:29em;
      padding: 1em;
     #logo {
      float:left;
      margin-right:5em;
        img {
          margin-top: 2em;
          height:25em;
          width:25em;
        }
      }
    }
    #tagline {
      padding-top: 2em;
      background-color: white;
      height: 28em;
      #message {
        margin-top: 2em;
        font-size: 20px;
      }
    }
    #login {
      margin-top: 5em;
      a {
      margin-top:2em;
        padding: 1em;
        border-radius: 10px;
        color:white;
        text-decoration: none;
        box-shadow: 3px 4px gray;
        background-color: #427FC1;
      }
    }
  }
}

    /*Dashboard*/

