/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.page-header {
  margin-top: -20px;
  background-color: rgb(15, 148, 192);
  color:white;
  #logo {
    padding: 1em;
    display: inline-block;
    margin-top: 1.5em;
    img {
      display:inline;
      height: 8em;
      width: 8em;
    }
    h1 {
      display:inline;
      margin-left: 1em;
      small {
        color:white;
      }
    }
  }
  #userbox {
    padding: 1em;
    float: right;
    margin: 4.1em 5% 0 0;
    a {
      color:white;
      text-decoration: none;
    }
  }
}

#dashboard-nav {
  position: fixed;
  left:0;
  top:10em;
  bottom:0;
  width: 10%;
  background-color: rgb(15, 148, 192);
}

#body {
  text-align: center;
  #center {
    #leaderboard {

      .leaderbox {
        width: 20%;
        display: inline-block;
      }
    }
    #charts {
        min-height: 300px;
        width: 90%;
        margin:auto;
      .thumbnail {
        #placeholder {
          height: 300px;
          margin:auto;
          text-align:center;
        }
        .color {
          background-color: #97BBCD;
        }
        .color2 {
          background-color: #DCDCDC;
        }
        p {
          display: inline-block;
          &:last-child {
            margin-left:.5em;
          }
        }
      }
    }
    #activity {
      .opp {
        margin: auto;
        width: 80%;
        .up-to-date {
          text-align: center;
        }
      }
      .action-opportunity {
        text-align: left;
        h2 {
          display: inline-block;
          a {}
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}

